sudo: required
language: python
dist: trusty
matrix:
  include:
    # https://docs.python.org/devguide/#status-of-python-branches
    # One build pulls latest versions dynamically
    - python: 3.6
      env: CDH=cdh5 CDH_VERSION=5 PRESTO=RELEASE TRINO=RELEASE SQLALCHEMY=sqlalchemy>=1.3.0
    - python: 3.6
      env: CDH=cdh5 CDH_VERSION=5.10.1 PRESTO=0.147 TRINO=351 SQLALCHEMY=sqlalchemy>=1.3.0
    - python: 3.5
      env: CDH=cdh5 CDH_VERSION=5.10.1 PRESTO=0.147 TRINO=351 SQLALCHEMY=sqlalchemy>=1.3.0
    - python: 3.4
      env: CDH=cdh5 CDH_VERSION=5.10.1 PRESTO=0.147 TRINO=351 SQLALCHEMY=sqlalchemy>=1.3.0
    - python: 2.7
      env: CDH=cdh5 CDH_VERSION=5.10.1 PRESTO=0.147 TRINO=351 SQLALCHEMY=sqlalchemy>=1.3.0
install:
  - ./scripts/travis-install.sh
  - pip install codecov
script: PYTHONHASHSEED=random pytest -v
after_success: codecov
